/* Default colors */
:root {
    --color-primary: 30 58 138;
    --color-secondary: 226 232 240;
    --color-success: 13 148 136;
    --color-info: 6 182 212;
    --color-warning: 245 158 11;
    --color-pending: 249 115 22;
    --color-danger: 185 28 28;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
}

/* Default dark-mode colors */
.dark {
    --color-primary: 30 64 175;
    --color-slate-500: 148 163 184;
    --color-darkmode-50: 87 103 132;
    --color-darkmode-100: 74 90 121;
    --color-darkmode-200: 65 81 114;
    --color-darkmode-300: 53 69 103;
    --color-darkmode-400: 48 61 93;
    --color-darkmode-500: 41 53 82;
    --color-darkmode-600: 40 51 78;
    --color-darkmode-700: 35 45 69;
    --color-darkmode-800: 27 37 59;
    --color-darkmode-900: 15 23 42;
}

/* Theme 1 colors */
.theme-1 {
    --color-primary: 6 78 59;
    --color-secondary: 226 232 240;
    --color-success: 5 150 105;
    --color-info: 6 182 212;
    --color-warning: 250 204 21;
    --color-pending: 245 158 11;
    --color-danger: 225 29 72;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    &.dark {
        --color-primary: 6 95 70;
    }
}

/* Theme 2 colors */
.theme-2 {
    --color-primary: 30 64 175;
    --color-secondary: 226 232 240;
    --color-success: 132 204 22;
    --color-info: 6 182 212;
    --color-warning: 250 204 21;
    --color-pending: 249 115 22;
    --color-danger: 220 38 38;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    &.dark {
        --color-primary: 29 78 216;
    }
}

/* Theme 3 colors */
.theme-3 {
    --color-primary: 22 78 99;
    --color-secondary: 226 232 240;
    --color-success: 13 148 136;
    --color-info: 6 182 212;
    --color-warning: 245 158 11;
    --color-pending: 217 119 6;
    --color-danger: 185 28 28;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    &.dark {
        --color-primary: 21 94 117;
    }
}

/* Theme 4 colors */
.theme-4 {
    --color-primary: 49 46 129;
    --color-secondary: 226 232 240;
    --color-success: 5 150 105;
    --color-info: 6 182 212;
    --color-warning: 234 179 8;
    --color-pending: 234 88 12;
    --color-danger: 185 28 28;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    &.dark {
        --color-primary: 67 56 202;
    }
}